<?xml version="1.0"?>
<!--
* This file is part of Zepgram\Base\etc
*
* @package    Zepgram\Base\etc
* @file       acl.xml
* @date       21 07 2019 15:48
*
* @author     Benjamin Calef <zepgram@gmail.com>
* @copyright  2019 Zepgram Copyright (c) (https://github.com/zepgram)
* @license    MIT License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Zepgram_Base::config" title="Zepgram" sortOrder="60" />
            </resource>
        </resources>
    </acl>
</config>
