<?xml version="1.0"?>
<!--
* This file is part of Zepgram\Base\etc
*
* @package    Zepgram\Base\etc\adminhtml
* @file       system.xml
* @date       21 07 2019 15:48
*
* @author     Benjamin Calef <zepgram@gmail.com>
* @copyright  2019 Zepgram Copyright (c) (https://github.com/zepgram)
* @license    MIT License
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zepgram" translate="label" sortOrder="1000">
            <label><![CDATA[Zepgram]]></label>
        </tab>
    </system>
</config>
